#header {
    padding-top: 1%;
    padding-bottom: 4%;
    margin-bottom: 2%;
    text-align: center;
    text-shadow: 2px 2px #000000;
    background-color: #26a69a;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    
}



