#header {
    padding-top: 2%;
    padding-bottom: 4%;
    margin-bottom: 2%;
    text-align: center;
    text-shadow: 2px 2px #000000;
    background-color: #26a69a;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    
}



h1 {
    padding-top: 2%;
    color: #b66e09 !important;
    text-align: center; 
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #dce6e6;
    margin: auto;
    border: 2rem;
}
